*, *::before, *::after {
  margin: 0;
  padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, #012345, 	#234567);
}
li, a, button{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  list-style: none;
}
img{
  cursor: pointer;
  height: 2.3rem;
  margin-right: auto;
}
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2.6rem 4.4%;
  position: --webkit-sticky;
  position: sticky;
  
}
ul{
  padding-top: 10px;
}
.nav-links li{
  display: inline-block;
  padding: 0 2rem;
  color: white;
}


