*, *::after, *::before {
    padding: 0;
    margin: 0;
}
:root{
    --text-color: #EFEFFC;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
}

.splash-screen {
    width: 100%;
    height: 100%;
    background: linear-gradient(204.59deg, #0D0C2B 10.45%, #020209 93.53%);
    padding-top: 0.5rem;
}

.navbar {
    padding-top: 3rem;
    padding-left: 12rem;
    padding-right: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
      width: 18rem;
    }

    .nav-links {
        color: var(--text-color);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0px;
        gap: 130px;
    }

    .nav-item {
        padding-top: 2.5rem;
        color: var(--text-color);
        font-size: 2.5rem;
        list-style: none;
        display: inline-block;
        font-weight: 600;
    }
}

.splash-screen{
    .heading{

        p{
            color: var(--text-color);
            z-index: 999;
            font-size: 6rem;
        }
    }
}
.video{
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-top: 13rem;
        margin-right: 7rem;

        #video{
            z-index: 0;
            width: 130rem;
            height: 70rem;
            display: inline;
            object-fit: cover;
            filter: brightness(75%);
    }
    .head{
        max-width: 45%;
    }
    .heading{
        color: var(--text-color);
        font-size: 11rem;
        z-index: 999;
        transform: translateX(30rem);
        padding-top: 5rem;
        position: absolute;
        font-weight: 900;
        transform: translateX(-29%);
        max-width: inherit;
        padding-top: 6rem;
        line-height: 14.5rem;
        opacity: 0.9;
    }
}

