*, *::after, *::before {
  padding: 0;
  margin: 0;
}
:root {

  --text-color: #EFEFFC;
  --secondary-color: #BAFF39;
  --background-color-primary: #383838;
  --dark-green-text: #1fe374;
  
}



html {

  font-size: 62.5%;
}

body {

  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;

}

a { 
text-decoration: none;

}

.blog{
  background: linear-gradient(180.03deg, #0D0C2B 0.03%, #020209 214.23%);
  height: 100vh;
  padding-top: 0.5rem;
  overflow: inherit;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  font-size: 1rem;
 }
 